/* You can add global styles to this file, and also import other style files */


.ng-invalid:not(form){
  border-right: 10px solid red;
}

.ng-valid:not(form){
  border-right: 10px solid green;
}
.cuerpo{
  background-color: #14181c;
}
head.dark{
  background-color:white;
  color:black;
}
body.dark{
  background-color:white;
  color: black;
}
